html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(40deg, #ff00ff, #33ffd4);
}
header {
    font-size: 28px;
    color: blueviolet;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    color: black;   
    background-color: rgba(85, 34, 223, 0.6); 
    list-style: none;
    font-style: italic;
}
/*
--padding-top, padding-right, padding-bottom y padding-left
--10px arriba, 5 a la derecha, 10 abajo y 6 a la izquierda
---border-width: 2px;
    --border-style: dashed;
    border-color: aqua; o en vez de las tres se sustituye con border y se ponen las tres obligatorias*/
    /*margin-top, margin-right, margin-bottom y margin-left*/
.data {
        border: 2px solid rgb(255, 0, 98);
        font-weight: 800;
}
.word {
    padding: 10px;
    margin: 10px 46% 10px 0;
}

[data-testid=character-no-spaces-count] {
    font-size: 16px;
    padding: 10px;
    margin: 10px 46% 10px 0;
}

footer {
    border: 8px;
    text-align: end;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(27, 39, 39);
    opacity: .6;
    margin-top: 100px;
}
textarea[name="user-input"] {
    border-radius: 10px;
    color: rgb(4, 5, 5);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    height: 20vh;
    width: 40vw;
    background-color: rgba(121, 227, 235, 0.5);
    border-color: black;
    border-width: 3px;
    /*para mover la caja al centro y poder jalarla(resize)*/
    display: block;
    margin: 0 auto;
    resize: both;
}
#reset-button {
    background: cyan;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 8px;
    font-weight: 600;
    border-color: azure;
    margin: 20px;
    height: 40px;
    width: 30%;
    display: block;
    margin: 4px auto;
    cursor: pointer;
}